.header{
    display: grid;
    align-items: center;
    padding: 92px 50px 90px;
    grid-template-columns: 1fr min-content 1fr;
    font-size: 18px;
}
.header__link_active{
text-decoration: none;
}
.header_con{
    width: 1100px;
    margin: 0 auto;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: circle;
    margin-bottom: 6px;
  
}
.header_menu_point{
    white-space: nowrap;
    margin-top: -3px;
    line-height: 80%;
    text-decoration: none;
}
.line{
    height: 1px;
    background-color: black;
  
}
.line_two{
    height: 1px;
    background-color: black;
    width: 131px;
}
.circle{
    list-style: none;
    padding-left: 8px;
}

.logo{
    width: 140px;
    margin-left: 15px;
     
}

.address{
    display: flex;
    margin-top: -5px;
    justify-self: end;
    align-items: flex-end;
    flex-direction: column;
    font-style: normal;
    font-size: 18px;
    line-height: 135%;
    margin-right: 30px;


}

.mail_cor{
    margin-right: 70px;

}

/*.address >*{
    width: 230px;
    font-style: normal;
    font-size: 18px;
    line-height: 135%;*/

}

.overlay {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0; 
  width: 100%;
  height: 100%
}

.cover-content{
  width: 100%;
  max-width: 1100px;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 170px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-left: 5px;
  z-index: 0;


}
.aligned-text_left{
  display: block;
  text-align: left;
  grid-row: 1;
  color: #fff;
}

.aligned-text_center{
  display: block;
  grid-row: 2;
  justify-self: center;
  align-self: center;
  margin-top:15px;
  margin-left: 32px;
  color: #fff;

  
}

.aligned-text_right{
 display: block;
 grid-row: 3;
 align-self: end;
 justify-self: end;
 margin-top: 18px;
 color: #fff;
 

}

.no_letter_sapcing{
    letter-spacing: 0px;
}

.cover__title{
    font-style: bold;
    font-size: 100px;
    font-weight: 700px;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.cover-description{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 104px;
    margin-top: 115px;




}

.cover-description-text{
    display: flex;
   word-spacing: 18px;
   font-size: 22px;
   letter-spacing: 0px;
   font-weight: 400px;
   color: white;


}
.bet-button{
   border-style:solid;
   background-color: transparent;
   border-color: #fff ;
    align-items: end;
    word-spacing: 1px;
    width: 257px;
    height: 50px;
    z-index: 2;
    color: #fff; 
    font-size: 22px;
    align-self: center;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: -40px;
}

.lots_he{
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 0px;
    padding-bottom: 28px;
    padding-left: 45px;

}

.lots__card-list{
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
}

.lots{
    margin-top: 180px;
    margin-left:27px;
}

.card{
    max-width: 334px;
    min-height:  598px;
    background-size: cover ;
    background-position: center;
    list-style-type: none;
    padding-left: 44px;
    padding-right: 36px;
    padding-bottom: 30px;
    padding-top: 48px;
    margin-bottom: 28px;

    

}

.card_type_left{
background-image: url(../images/card-lot-01.jpg);
max-height: 596px;
position: relative;
z-index: 0;
}

.card_type_center{
    background-image: url(../images/card-lot-02.jpg);
    max-height: 596px;
    position: relative;
    z-index: 0;
}

.card_type_right{
    background-image: url(../images/card-lot-03.jpg);
    max-height: 596px;
    position: relative;
    z-index: 0;
}

.card_title{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;

}
.card_text{
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #fff;
    text-transform: none;

}

.card_text_left{
    margin-top: 276px;
}

.card_text_center{
    margin-top: 33px;
}

.card_text_right{
    margin-top: 130px;
}

.lots__look-more-link{
    font-size: 20px;
    margin-left: 46px;
    
}

.about{

    display: inline-grid;
    grid-template-columns: 335px 2fr;
    margin-top: 150px;
    padding-left: 78px;
    grid-template-columns: 250px auto;
}

.logo_circle{
    width: 240px;  
    height: 240px;  
    border-radius: 50%;  
    background: black;
    z-index: -1;
    padding: 64px 45px 62px 46px;
    margin-top: 5px;
    margin-left: 1px;
}

.about_auction{
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: 700px;
    margin-top: 105px;
    margin-left: 60px;
    padding-bottom: 101px;
}

.about_text{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 60px;
  margin-bottom: 23px;
}

.about-column{ 
    gap: 26px;
}

.footer{
    margin-top: 158px;
    display: inline-grid;
    grid-template-columns: 1fr min-content 1fr;
    font-size: 18px;
    padding-left: 50px;
    grid-template-columns: 320px 420px 300px ;

}

.add_cor{
color: #000;
font-family: Raleway,sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24.3px;
margin-right: 83px;
letter-spacing: 0px;


}

.footer-ul{
    display: flex;
    flex-direction: column;
    gap:0;
    align-items: center;
    margin-right: 55px;

}

.circle_foot{
    list-style: none;
}

.none_line{
text-decoration: none;
}

.logo_footer{
  display: flex;
  justify-content: space-evenly;
  margin-right:15px ;

}